
.content{
    margin: 20px 20% 0 20%;
}

section{
    padding: 10px 0;
    background-image: linear-gradient(white, rgb(92, 160, 206));
    height: 100%;
}

section img{
    transition: all 0.5s ease-in-out; /* speed of transition to magnification */
    width: 350px;
    height: auto;
    padding: 20px;    
}

section img:hover{
    transform: scale(1.025); /* Magnifies image */
  }

/* Colums */
* {
    box-sizing: border-box;
  }

/* Rounded corners - w3schools */
#rcornersHEADER {
  border-radius: 25px;
  background: #c1c8e4bb;
  border: 2px solid #8860D0;
  padding: 10px; 
  font-size: 14px;
  }

.rcorners2 {
  border-radius: 20px;
  border: 2px solid #2F2FA2;
  font-size: 16px;
  padding: 0px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 15px;
  /* background-image: linear-gradient( #a8def3, #5dbbe9); */
  color: black;
}

.title{
  font-size: 20px;
}

/* image */
.column {
  float: right;
  width: 30%;
  padding: 0px;
  height: 40%;
  padding-bottom: 100px;
  }

/* text */
.column1 {
  float: right;
  width: 70%;
  padding: 50px;
  height: 40%;
  color: black;
  padding-bottom: 100px;
  }

/* image rounded */
.image {
  border: 0px solid #8860D0;
  padding-top: 10vh;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* FOOTER START */
footer {
    position: sticky;
    font-size: 15px;
    text-align: right;
    padding: 5px 10px 10px 0;
    background-color: #F3F3F3;
    color: black;
    bottom: 0px;
    height: 50px;
    font-weight: bold;
  }
  
  footer a{
    color:black
  }
  footer a:hover{
    color: #A09E9E;
  }
  /* FOOTER END*/